* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 70px;
  padding: 10px 0;
  box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);

  .logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
  }

}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 90%;
    justify-content: space-between;
  }

nav ul li {
    cursor: pointer;
  }

aside {
    margin-top: 20px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.barraPesquisa {
    width: 95%;
    max-width: 500px;
    display: flex;
}

#inputPesquisa {
    padding: 10px;
    width: 100%;
    border-radius: 8px 0px 0px 8px;
    border-right: none;
}

#btnPesquisar {
    background-color: white;
    padding: 10px 5px;
    border-radius: 0 8px 8px 0;
}

.ordem {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.ordem select {
    padding: 10px;
    border-radius: 6px;
    background-color: white;
}

#carro {
    width: 90%;
    max-width: 400px;
    margin: 10px auto 0 auto;
}


.tituloCarro {
    font-size: 18px;
    font-weight: 700;
    margin: 0 auto;
    text-transform: uppercase;
}

.carrinhoVazio {
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.carrinhoVazio p {
    font-size: 22px;
    font-weight: 700;
}

#produtosCarrinho {
    display: flex;
    flex-direction: column;
    max-height: 350px;
    overflow: auto;
}

.imgCarrinho {
    width: 100%;
    min-height: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
}

.imgCarrinho img {
    max-width: 90%;
}

.tituloCarrinho{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    max-height: 1.5em;
    overflow: hidden;
}


.secao {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.btnMenos {
    margin-left: 10px;
    width: 25px;
    height: 25px;
    font-size: 20px;
    cursor: pointer;
}

.qtdCarro {
    width: 20px;
    text-align: center;
}

#qtdItem {
    margin-left: 5px;
    font-size: 16px;
}

.btnMais {
    margin-left: 5px;
    width: 25px;
    height: 25px;
    font-size: 20px;
    cursor: pointer;
}

.precoCarrinho {
    color: #2E245E;
    font-size: 18px;
    font-weight: 600;
}

.removerCarrinho {
    margin-top: 10px;
    background-color: #F5F5F5;
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.removerCarrinho:hover {
    cursor: pointer;
    text-decoration: underline;
}

#btnTodos {
    font-weight: bold;
}

#rodape {
    width: 100%;
    height: 100px;
    background-color: #292929;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.quantidadeCarrinho {
    display: flex;
    justify-content: space-between;
}

.textQuantidade {
    color: white;
    font-weight: 600;
}

.quantia {
    color: white;
}

.totalCarrinho {
    display: flex;
    justify-content: space-between;
}

.total {
    color: white;
    font-weight: 600;
}

.dinheiros {
    color: white;
}

.produtos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.produtoTitulo {
    margin: 5px 0px 0px 0px;
    font-size: 16px;
    color: #292929;
    font-weight: 700;
    min-height: 32px;
}

.card {
    width: 95%;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px;
    border: 2px solid #F5F5F5;
}

.produtoImg {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}

.produtoImg img {
    max-width: 100%;
    max-height: 100%;
}

.descricao {
    margin: 0px;
    position: relative;
    height: 4rem;
    font-size: 1px;
    overflow: hidden;
}

.produtoDescricao {
    margin: 5px 0px 0px 0px;
    color: #242424;
    overflow: hidden;
    font-size: 14px;
    max-height: 4em;
}

.produtoPreco {
    color: #2E245E;
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
}

.produtoAdicionarCarrinho {
    padding: 0px;
    background-color: #fff;
    margin: 5px 0px 0px 0px;
    border: 1px solid #37268C;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    font-size: 14px;
    color: #242424;
    cursor: pointer;
}

@media  screen and (min-width: 768px) {
    header {
        flex-direction: row;
        padding: 0 5%;
        justify-content: space-between;
    }

    nav {
        width: 50%;
    }

    .corpo {
        display: flex;
        flex-direction: row-reverse;
    }

    aside {
        min-width: 350px;
        max-width: 350px;
    }
}